@charset "UTF-8";

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff') format('woff');
    font-weight: 100;
    font-display: swap;
    letter-spacing: -1px;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-display: swap;
    letter-spacing: -1px;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
    font-weight: 300;
    font-display: swap;
    letter-spacing: -1px;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
    letter-spacing: -1px;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
    letter-spacing: -1px;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-display: swap;
    letter-spacing: -1px;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
    letter-spacing: -1px;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-display: swap;
    letter-spacing: -1px;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff') format('woff');
    font-weight: 900;
    font-display: swap;
    letter-spacing: -1px;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}


body {
    width: 100%;
    background-color: #f9f9f9;
    position: relative;
    font-family: 'Pretendard';
    cursor: url('https://kjwon2025.github.io/gaonimg/img/cursor.png') 15 15, auto;
}

.header-wrapper,
.header2-wrapper {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    transition: all 0.2s ease;
    z-index: 1000;
}

.visible {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
}

.hidden {
    opacity: 0;
    transform: translateY(-40px);
    pointer-events: none;
}

/* app/styles/globals.css */
:root {
    --cal-orange: #f39535;
    --cal-orange-soft: rgba(243, 149, 53, 0.2);
    --cal-bg: #fff8f0;
}