@media (min-width: 1100px) and (max-width: 1400px) {
    .cl1_container {
        width: 1000px;
        margin: 0 auto;
        padding: 100px 20px 0 20px;
    }

    .cl1_maininfo {
        gap: 30px;
    }

    .cl1_mainvideo {
        width: 470px;
        height: 445px;
    }

    .cl1_mainvideo>.cl1_mvbtn>svg {
        width: 100px;
        height: 100px;
    }

    .cl1_mainvideo>.cl1_mvbtn>span {
        font-size: 30px;
    }

    .cl1_mainvideo>img {
        width: 470px;
        height: 445px;
        border-radius: 20px;
    }

    .cl1_maintextbox {
        width: 500px;
    }

    .cl1_maintextbox>p {
        margin-bottom: 30px;
    }

    .cl1_subbox {
        gap: 20px;
        margin-bottom: 30px;
    }

    .cl1_subtext {
        font-size: 18px;
        font-weight: 500;
    }

    .cl1_perbox {
        width: 460px;
        height: 115px;
    }

    .cl1_perbox>p {
        font-size: 20px;
    }

    .cl1_colorbox {
        width: 100%;
        height: 40px;
        margin: 30px 0 10px 0;
    }

    .cl1_colorbox>span {
        font-size: 16px;
    }

    .cl1_current {
        width: 200px;
        height: 100%;
        font-size: 16px;
    }

    .cl1_btns {
        width: 100%;
        height: 50px;
        margin-top: 30px;
    }

    .cl1_cart {
        width: 150px;
        font-size: 20px;
    }

    .cl1_buy {
        width: 328px;
        font-size: 20px;
    }

    .cl1_curriculum {
        height: auto;
    }

    .cl1_curriculum>.cl1_title {
        height: 50px;
    }

    .cl1_curriculum>.cl1_title>span {
        font-size: 25px;
    }

    .cl1_curriculum>.cl1_title>.cl1_titleline {
        width: 820px;
    }

    .cl1_steps {
        width: 260px;
        height: 350px;
    }

    .cl1_step {
        width: 120px;
        height: 40px;
        font-size: 20px;
        margin-bottom: 30px;
    }

    .cl1_steps>p {
        font-size: 22px;
        margin-bottom: 30px;
    }

    .cl1_steps>span {
        font-size: 16px;
        line-height: 170%;
    }

    .cl1_part {
        width: 220px;
        height: 20px;
        padding: 20px;
        font-size: 22px;
    }

    .cl1_part1 {
        margin-right: 119px;
    }

    .cl1_part2 {
        margin-right: 117px;
    }

    .cl1_part3 {
        margin-right: 105px;
    }

    .cl1_class>.cl1_title {
        height: 50px;
    }

    .cl1_class>.cl1_title>span {
        font-size: 25px;
    }

    .cl1_class>.cl1_title>.cl1_titleline {
        width: 883px;
    }

    .cl1_review>.cl1_title {
        height: 50px;
    }

    .cl1_review>.cl1_title>span {
        font-size: 25px;
    }

    .cl1_review>.cl1_title>.cl1_titleline {
        width: 865px;
    }

    .cl1_uploadbox {
        gap: 50px;
    }

    .cl1_otherrv1,
    .cl1_otherrv2 {
        gap: 50px;
    }

    .cl1_modal {
        width: 1000px;
    }

    .cl1_modal>video {
        width: 600px;
    }

    .cl1_videoinfo {
        width: 360px;
    }

    .cl1_infotext>span {
        font-size: 18px;
    }

    .cl1_videodownload {
        bottom: 70px;
        font-size: 18px;
    }

    .cl1_modalbtns {
        width: 360px;
        height: 60px;
    }

    .cl1_nextbtn {
        width: 280px;
        font-size: 18px;
    }

    .cl1_modal_close {
        width: 80px;
        font-size: 18px;
    }
}

@media (min-width: 768px) and (max-width: 1099px) {
    .cl1_wrap {
        overflow-x: hidden;
    }

    .cl1_container {
        width: 700px;
        margin: 0 auto;
        padding: 50px 24px 0 24px;
    }

    .cl1_maininfo {
        gap: 30px;
        flex-direction: column;
    }

    .cl1_mainvideo {
        width: 100%;
        height: 350px;
    }

    .cl1_mainvideo>.cl1_mvbtn>svg {
        width: 100px;
        height: 100px;
    }

    .cl1_mainvideo>.cl1_mvbtn>span {
        font-size: 35px;
    }

    .cl1_mainvideo>img {
        width: 100%;
        height: 350px;
        border-radius: 10px;
    }

    .cl1_maintextbox {
        width: 100%;
    }

    .cl1_maintextbox>p {
        margin-bottom: 30px;
    }

    .cl1_subbox {
        gap: 20px;
        margin-bottom: 30px;
    }

    .cl1_subtext {
        font-size: 20px;
    }

    .cl1_perbox {
        width: 660px;
        height: 160px;
    }

    .cl1_btns {
        margin-top: 30px;
    }

    .cl1_cart {
        width: 245px;
    }

    .cl1_buy {
        width: 430px;
    }

    .cl1_curriculum {
        height: auto;
    }

    .cl1_curriculum>.cl1_title {
        height: 50px;
        margin-bottom: 20px;
    }

    .cl1_curriculum>.cl1_title>span {
        font-size: 25px;
    }

    .cl1_curriculum>.cl1_title>.cl1_titleline {
        width: 527px;
    }

    .cl1_steps {
        width: 165px;
        height: 350px;
    }

    .cl1_step {
        width: 100px;
        height: 40px;
        font-size: 16px;
        margin-bottom: 20px;
    }

    .cl1_steps>p {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .cl1_steps>span {
        font-size: 16px;
        line-height: 150%;
    }

    .cl1_part {
        width: 145px;
        height: 30px;
        padding: 10px;
        font-size: 16px;
    }

    .cl1_part1 {
        margin-right: 72px;
    }

    .cl1_part2 {
        margin-right: 70px;
    }

    .cl1_part3 {
        margin-right: 61px;
    }

    .cl1_class {
        margin-top: 20px;
    }

    .cl1_class>.cl1_title {
        height: 50px;
        margin-bottom: 65px;
    }

    .cl1_class>.cl1_title>span {
        font-size: 25px;
    }

    .cl1_class>.cl1_title>.cl1_titleline {
        width: 593px;
    }

    .cl1_thumbnailbox {
        font-size: 15px;
    }

    .cl1_video {
        width: 200px;
        height: 250px;
        margin-right: 20px;
    }

    .cl1_video>svg {
        width: 100px;
        height: 100px;
    }

    .cl1_video>img {
        width: 250px;
        height: 250px;
    }

    .cl1_review {
        margin-top: 40px;
    }

    .cl1_review>.cl1_title {
        height: 50px;
    }

    .cl1_review>.cl1_title>span {
        font-size: 25px;
    }

    .cl1_review>.cl1_title>.cl1_titleline {
        width: 575px;
    }

    .cl1_uploadbox {
        gap: 30px;
    }

    .cl1_user {
        width: 75px;
        height: 75px;
        margin-top: -40px;
    }

    .cl1_writebox {
        width: 595px;
        height: 400px;
        border-radius: 10px;
        margin-top: -5px;
    }

    .cl1_text {
        width: 535px;
        padding: 20px 30px;
    }

    .cl1_star>span {
        margin-left: -9px;
    }

    .cl1_file {
        width: 800px;
        height: 57px;
        display: flex;
        align-items: center;
    }

    .cl1_filebg {
        width: 455px;
        margin: 0 20px;
    }

    .cl1_filebg>input {
        margin-left: 10px;
    }

    .cl1_otherrv1,
    .cl1_otherrv2 {
        gap: 30px;
    }

    .cl1_otherrv1>.cl1_ortextbox {
        width: 595px;
        border-radius: 10px 0 10px 10px;
        margin-top: 0;
        margin-bottom: 80px;
    }

    .cl1_otherrv2>.cl1_ortextbox {
        width: 595px;
        border-radius: 0 10px 10px 10px;
        margin-top: 0;
        margin-bottom: 80px;
    }

    .cl1_review>.cl1_pagenationbox {
        margin: 0 auto 80px auto;
    }

    .cl1_modal {
        width: 700px;
        height: 500px;
        gap: 20px;
    }

    .cl1_modal>video {
        width: 400px;
        height: 100%;
    }

    .cl1_videoinfo {
        width: 280px;
    }

    .cl1_infotext>p {
        font-size: 25px;
    }

    .cl1_infotext>span {
        font-size: 16px;
    }

    .cl1_videodownload {
        bottom: 70px;
        font-size: 18px;
    }

    .cl1_modalbtns {
        width: 280px;
        height: 60px;
    }

    .cl1_nextbtn {
        width: 200px;
        font-size: 18px;
    }

    .cl1_modal_close {
        width: 60px;
        font-size: 18px;
    }
}

@media (min-width: 375px) and (max-width: 767px) {
    .cl1_container {
        width: 375px;
        margin: 0 auto;
        padding: 0 16px 0 16px;
    }

    .cl1_maininfo {
        gap: 30px;
        flex-direction: column;
    }

    .cl1_mainvideo {
        width: 100%;
        height: 350px;
    }

    .cl1_mainvideo>.cl1_mvbtn>svg {
        width: 100px;
        height: 100px;
    }

    .cl1_mainvideo>.cl1_mvbtn>span {
        font-size: 35px;
    }

    .cl1_mainvideo>img {
        width: 100%;
        height: 350px;
        border-radius: 10px;
    }

    .cl1_maintextbox {
        width: 100%;
    }

    .cl1_maintextbox>p {
        margin-bottom: 30px;
    }

    .cl1_subbox {
        gap: 20px;
        margin-bottom: 30px;
    }

    .cl1_subtext {
        font-size: 20px;
    }

    .cl1_perbox {
        width: 335px;
        height: 160px;
    }

    .cl1_perbox>p {
        font-size: 20px;
    }

    .cl1_colorbox>span {
        font-size: 16px;
    }

    .cl1_current {
        width: 170px;
        font-size: 16px;
    }

    .cl1_btns {
        width: 100%;
        margin-top: 30px;
    }

    .cl1_cart {
        width: 120px;
    }

    .cl1_buy {
        width: 240px;
    }

    .cl1_curriculum {
        height: auto;
    }

    .cl1_curriculum>.cl1_title {
        height: 50px;
        margin-bottom: 20px;
    }

    .cl1_curriculum>.cl1_title>span {
        font-size: 25px;
    }

    .cl1_curriculum>.cl1_title>.cl1_titleline {
        width: 215px;
    }

    .cl1_curbox {
        width: 100%;
        height: auto;
        flex-direction: column;
        gap: 30px;
    }

    .cl1_steps {
        width: 311px;
        height: 280px;
    }

    .cl1_step {
        width: 100px;
        height: 40px;
        font-size: 16px;
        margin-bottom: 20px;
    }

    .cl1_steps>p {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .cl1_steps>span {
        font-size: 16px;
        line-height: 150%;
    }

    .cl1_part {
        width: 271px;
        height: 30px;
        padding: 10px 20px;
        font-size: 16px;
    }

    .cl1_part1 {
        margin-right: 198px;
    }

    .cl1_part2 {
        margin-right: 196px;
    }

    .cl1_part3 {
        margin-right: 187px;
    }

    .cl1_class {
        margin-top: 30px;
    }

    .cl1_class>.cl1_title {
        height: 50px;
        margin-bottom: 65px;
    }

    .cl1_class>.cl1_title>span {
        font-size: 25px;
    }

    .cl1_class>.cl1_title>.cl1_titleline {
        width: 279px;
    }

    .cl1_listbox {
        margin-top: -40px;
    }

    .cl1_list1,
    .cl1_list2,
    .cl1_list3 {
        padding: 20px;
    }

    .cl1_list2,
    .cl1_list3 {
        font-size: 18px;
    }

    .cl1_thumbnailbox {
        font-size: 16px;
        width: 275px;
        flex-direction: column;
    }

    .cl1_thumbnailbox>span {
        display: block;
        margin-top: -20px;
    }

    .cl1_video {
        width: 100%;
        height: 150px;
    }

    .cl1_video>svg {
        width: 100px;
        height: 100px;
    }

    .cl1_video>img {
        width: 100%;
        height: 150px;
    }

    .cl1_review {
        margin-top: 20px;
        width: 375px;
    }

    .cl1_review>.cl1_title {
        height: 50px;
    }

    .cl1_review>.cl1_title>span {
        font-size: 25px;
    }

    .cl1_review>.cl1_title>.cl1_titleline {
        width: 260px;
    }

    .cl1_uploadbox {
        gap: 20px;
        height: auto;
        flex-direction: column;
        margin-top: -60px;
    }

    .cl1_user {
        width: 50px;
        height: 50px;
    }

    .cl1_writebox {
        width: 100%;
        height: 380px;
        border-radius: 10px;
        margin-top: 0;
    }

    .cl1_text {
        width: 335px;
        padding: 10px 20px;
    }

    .cl1_star>span {
        margin-left: -15px;
    }

    .cl1_file {
        width: 100%;
        height: 57px;
    }

    .cl1_filebg {
        width: 265px;
        margin: 0 10px;
    }

    .cl1_filebg>input {
        margin-left: 10px;
    }

    .cl1_otherrv1,
    .cl1_otherrv2 {
        gap: 20px;
        flex-direction: column;
        position: relative;
        margin-top: 30px;
    }

    .cl1_otherrv1>.cl1_user {
        position: absolute;
        top: 0;
        right: 0;
    }

    .cl1_otherrv1>.cl1_ortextbox {
        width: 100%;
        border-radius: 10px 0 10px 10px;
        margin-top: 75px;
        margin-bottom: 25px;
        height: 250px;
    }

    .cl1_otherrv2>.cl1_ortextbox {
        width: 100%;
        border-radius: 0 10px 10px 10px;
        margin-top: 0;
        margin-bottom: 80px;
        height: 250px;
    }

    .cl1_orrt {
        gap: 0;
    }

    .cl1_orrt>p {
        width: auto;
        font-size: 18px;
        position: absolute;
        left: 10px;
        width: 230px;
    }

    .cl1_orrt>div>img {
        width: 100px;
        height: 100px;
        margin: 0 10px;
        position: absolute;
        right: 10px;
    }

    .cl1_review>.cl1_pagenationbox {
        margin: 0 auto 80px auto;
        position: relative;
    z-index: 10;
    }

    .cl1_modal {
        width: 343px;
        height: 700px;
        gap: 20px;
        flex-direction: column;
    }

    .cl1_modal>video {
        width: 343px;
        height: 320px;
        position: absolute;
        top: 20px;
    }

    .cl1_videoinfo {
        width: 100%;
        position: absolute;
        top: 50%;
        margin-bottom: 0;
    }

    .cl1_infotext>p {
        font-size: 25px;
        margin-bottom: 30px;
    }

    .cl1_infotext>span {
        font-size: 15px;
        width: 343px;
    }

    .cl1_videodownload {
        bottom: 455px;
        font-size: 18px;
    }

    .cl1_modalbtns {
        width: 100%;
        height: 60px;
        position: absolute;
        bottom: 385px;
        left: -20px;
        justify-content: center;
        gap: 10px;
    }

    .cl1_nextbtn {
        width: 230px;
        font-size: 18px;
    }

    .cl1_modal_close {
        width: 100px;
        font-size: 18px;
    }

    .cl1_liststar {
    position: absolute;
    top: -60px;
    left: -20px;
}

.cl1_liststar2 {
    position: absolute;
    top: -60px;
    right: -11px;
}

.cl1_editbtns {
    left: -38px;
    bottom: -57px;
}

.cl1_editbtns2 {
    right: -26px;
    bottom: -57px;
}
}