@media (max-width: 480px) {
    .wrapMB {
        padding-top: 80px;
        margin-bottom: 60px;
    }

    .containerMB {
        width: 375px;
    }

    .idboxMB>input {
        width: 70%;
    }

    .idboxMB>button {
        width: 30%;
        font-size: 18px;
    }

    .containerMB>form>input {
        width: 89%;
    }

    .allMB {
        font-size: 20px;
    }

    .allMB>span {
        font-size: 16px;
    }

    .checkboxMB>div>input {
        width: 20px;
        height: 20px;
    }

    .memberscheckMB {
        width: 90px;
        height: 50px;
        right: 20px;
        top: -30px;
    }

    .checkboxMB>div>label {
        font-size: 13px;
    }

    .alertspanMB {
        font-size: 12px;
    }
}

@media (max-width: 375px) {
    .containerMB {
        margin-top: 0;
        padding: 0 16px;
    }

    .containerMB>form {
        margin-top: 20px;
    }

    .idboxMB>input {
        width: 50%;
    }

    .idboxMB>button {
        width: 25%;
        height: 63px;
        font-size: 18px;
    }

    .containerMB>form>input {
        width: 80.5%;
    }

    .allMB {
        width: 91%;
    }

    .checkboxMB {
        width: 91.5%;
    }

    .alertspanMB {
        width: 91.5%;
    }

    .containerMB>form>button {
        width: 91.5%;
    }
}