@media (min-width: 1300px) and (max-width: 1500px) {
    .containerLG {
        width: 950px;
    }

    .leftboxLG {
        width: 470px;
        height: 550px;
        margin-right: 30px;
    }

    .rightboxLG {
        width: 430px;
        height: 550px;
    }

    .title1LG,
    .title3LG {
        font-size: 30px;
    }

    .choiceLG {
        width: 440px;
        height: 180px;
        gap: 20px;
    }

    .normalLG,
    .teacherLG {
        width: 210px;
        height: 100%;
        font-size: 18px;
    }

    .title2LG {
        width: 440px;
        margin: 60px 0;
        font-size: 18px;
    }

    .lineLG {
        width: 150px;
    }

    .snsboxLG {
        width: 260px;
        height: 70px;
        margin-left: 89px;
    }

    .snsboxLG>div {
        width: 70px;
        font-size: 22px;
    }

    .rightboxLG>form>input {
        font-size: 16px;
        padding: 18px 0 18px 13px;
    }

    .optionboxLG {
        font-size: 18px;
    }

    .optionboxLG>input {
        width: 18px;
        height: 18px;
    }

    .optionboxLG>span {
        margin-left: 173px
    }

    .rightboxLG>form>button {
        margin-top: 90px;
        height: 60px;
        font-size: 22px;
    }
}

@media (min-width: 768px) and (max-width: 1299px) {
    .wrapLG {
        height: 125vh;
    }

    .containerLG {
        width: 750px;
        height: 1000px;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    .leftboxLG {
        width: 750px;
        height: auto;
        border-right: none;
        margin: 0 0 40px 0;
        align-items: center;
        position: absolute;
        top: 480px;
    }

    .rightboxLG {
        width: 500px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 0;
    }

    .title1LG,
    .title3LG {
        font-size: 28px;
        margin-bottom: 25px;
        text-align: center;
    }

    .title1LG {
        margin-bottom: 60px;
    }

    .choiceLG {
        width: 500px;
        height: 160px;
        justify-content: center;
        gap: 20px;
    }

    .choiceLG>a {
        width: 45%;
        height: 100%;
        font-size: 18px;
    }

    .normalLG {
        width: 260px;
    }

    .teacherLG {
        width: 260px;
    }

    .title2LG {
        width: 100%;
        justify-content: center;
        gap: 15px;
        font-size: 20px;
        margin: 50px 0;
    }

    .lineLG {
        width: 180px;
    }

    .snsboxLG {
        width: 250px;
        height: 70px;
        margin: 0 auto;
    }

    .snsboxLG>div {
        width: 70px;
        height: 70px;
        font-size: 22px;
    }

    .rightboxLG>form {
        width: 100%;
        align-items: center;
    }

    .rightboxLG>form>input {
        width: 90%;
        padding: 18px 0 18px 15px;
        font-size: 16px;
    }

    .optionboxLG {
        width: 93%;
    }

    .optionboxLG>input {
        width: 18px;
        height: 18px;
    }

    .optionboxLG>label {
        margin-left: 0;
        font-size: 18px;
    }

    .optionboxLG>a {
        margin-left: 207px;
        font-size: 18px;
    }

    .rightboxLG>form>button {
        width: 93%;
        margin-top: 60px;
        height: 60px;
        font-size: 22px;
    }
}

@media (max-width: 767px) {
    .wrapLG {
        height: 110vh;
    }

    .containerLG {
        width: 90%;
        height: 915px;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    .leftboxLG {
        width: 100%;
        height: auto;
        border-right: none;
        margin: 0 0 30px 0;
        align-items: center;
        position: absolute;
        top: 420px;
    }

    .rightboxLG {
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 0;
    }

    .title1LG,
    .title3LG {
        font-size: 30px;
        margin-bottom: 20px;
        text-align: center;
    }

    .title1LG {
        margin-bottom: 50px;
    }

    .choiceLG {
        width: 90%;
        height: 150px;
        justify-content: center;
        gap: 20px;
    }

    .choiceLG>a {
        width: 44%;
        height: 100%;
        font-size: 16px;
    }

    .normalLG,
    .teacherLG {
        width: 45%;
    }

    .title2LG {
        width: 100%;
        justify-content: center;
        gap: 10px;
        font-size: 18px;
        margin: 40px 0;
    }

    .lineLG {
        width: 33%;
    }

    .snsboxLG {
        width: 275px;
        height: 60px;
        margin: 0 auto;
    }

    .snsboxLG>div {
        width: 75px;
        height: 75px;
        font-size: 20px;
    }

    .rightboxLG>form {
        width: 100%;
        align-items: center;
    }

    .rightboxLG>form>input {
        width: 90%;
        padding: 15px 0 15px 12px;
        font-size: 15px;
    }

    .optionboxLG {
        width: 94%;
        
    }

    .optionboxLG>input {
        width: 15px;
        height: 15px;
    }

    .optionboxLG>label {
        margin-left: -3px;
        font-size: 16px;
    }

    .optionboxLG>a {
        margin-left: 140px;
        font-size: 16px;
    }

    .rightboxLG>form>button {
        width: 95%;
        margin-top: 40px;
        height: 55px;
        font-size: 18px;
    }
}

@media (max-width: 479px) {
    .wrapLG {
        height: 110vh;
    }

    .containerLG {
        width: 90%;
        height: 915px;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    .leftboxLG {
        width: 100%;
        height: auto;
        border-right: none;
        margin: 0 0 30px 0;
        align-items: center;
        position: absolute;
        top: 420px;
    }

    .rightboxLG {
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 0;
    }

    .title1LG,
    .title3LG {
        font-size: 30px;
        margin-bottom: 20px;
        text-align: center;
    }

    .title1LG {
        margin-bottom: 50px;
    }

    .choiceLG {
        width: 90%;
        height: 150px;
        justify-content: center;
        gap: 20px;
    }

    .choiceLG>a {
        width: 44%;
        height: 100%;
        font-size: 16px;
    }

    .normalLG,
    .teacherLG {
        width: 45%;
    }

    .title2LG {
        width: 100%;
        justify-content: center;
        gap: 10px;
        font-size: 18px;
        margin: 40px 0;
    }

    .lineLG {
        width: 33%;
    }

    .snsboxLG {
        width: 275px;
        height: 60px;
        margin: 0 auto;
    }

    .snsboxLG>div {
        width: 75px;
        height: 75px;
        font-size: 20px;
    }

    .rightboxLG>form {
        width: 100%;
        align-items: center;
    }

    .rightboxLG>form>input {
        width: 90%;
        padding: 15px 0 15px 12px;
        font-size: 15px;
    }

    .optionboxLG {
        width: 94%;
    }

    .optionboxLG>input {
        width: 15px;
        height: 15px;
    }

    .optionboxLG>label {
        margin-left: -3px;
        font-size: 15px;
    }

    .optionboxLG>a {
        margin-left: 73px;
        font-size: 15px;
    }

    .rightboxLG>form>button {
        width: 95%;
        margin-top: 40px;
        height: 55px;
        font-size: 18px;
    }
}