.amWrap {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 10001;
    background-color: #f9f9f9;
    clip-path: circle(0% at 1810px 35px);
    transition: clip-path 1.2s ease-in-out;
}

.amWrap.amAnimateIn {
    clip-path: circle(150% at 800px 1000px);
}

.amCircle1,
.amCircle2,
.amCircle3 {
    position: absolute;
    border-radius: 50%;
    width: 1800px;
    height: 1800px;
    top: -430px;
}

.amCircle1 {
    border: 2px solid #143F70;
    background-color: transparent;
    left: 700px;
    z-index: 5;
}

.amCircle2 {
    background-color: #143F70;
    left: 1100px;
}

.amCircle3 {
    border: 2px solid #f9f9f9;
    background-color: transparent;
    left: 1500px;
}

.amWrap>.amImg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-70%, -50%);
    width: 230px;
    height: 230px;
}

.amTitle {
    position: absolute;
    top: 50%;
    left: 180px;
    transform: translate(0, -50%);
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.amTitle>p {
    font-size: 60px;
    font-Weight: bold;
    color: #143F70;
    text-align: center;
}

.amTitle>span {
    font-size: 22px;
    font-Weight: 500;
    line-height: 40px;
    color: #2b2b2b;
    text-align: center;
}

.amMenu {
    cursor: pointer;
    z-index: 5;
    font-size: 30px;
    font-Weight: 400;
    color: #f9f9f9;
    transition: all 0.3s ease;
    position: absolute;
}

.amMenu:hover,
.amSelected {
    font-size: 35px;
    font-Weight: bold;
    color: #f9f9f9;
}

.amMove {
    position: absolute;
    z-index: 5;
    width: 100px;
    height: 100px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 50%;
    right: 40px;
    transform: translate(0, -50%);
    animation: movebtn 2s infinite ease-in-out;
}

.amBack {
    font-size: 16px;
    font-Weight: 400;
    color: #f9f9f9;
}

.amRightarrow {
    width: 70px;
    height: 70px;
    color: #f9f9f9;
}

@keyframes movebtn {
    0% {
        right: 40px;
    }

    50% {
        right: 20px;
    }

    100% {
        right: 40px;
    }
}

@media (max-width: 768px) {
    .amWrap.amAnimateIn {
        clip-path: circle(150% at 800px 500px);
    }

    .amCircle1 {
        display: none;
    }

    .amCircle2 {
        left: 280px;
    }

    .amCircle3 {
        left: 530px;
    }

    .amTitle {
        display: none;
    }

    .amMenu {
        font-size: 35px;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .amWrap.amAnimateIn {
        clip-path: circle(150% at 800px 500px);
    }

    .amCircle1,
    .amCircle3 {
        display: none;
    }

    .amCircle2 {
        width: 850px;
        height: 850px;
        top: 1px;
        left: 50px;
    }

    .amTitle {
        display: none;
    }

    .amMenu {
        font-size: 25px;
        text-align: center;
    }
}

@media (max-width: 375px) {
    .amWrap.amAnimateIn {
        clip-path: circle(150% at 800px 500px);
    }

    .amCircle1,
    .amCircle3 {
        display: none;
    }

    .amCircle2 {
        width: 850px;
        height: 850px;
        top: 1px;
        left: 50px;
    }

    .amTitle {
        display: none;
    }

    .amMenu {
        font-size: 25px;
        text-align: center;
    }
}