.wrapFT {
    width: 100%;
    height: 400px;
    background: url('https://kjwon2025.github.io/gaonimg/img/footerimg.png') no-repeat;
    background-size: cover;
}

.ftcontainerFT {
    width: 1300px;
    height: 100%;
    margin: 0 auto;
    padding-left: 20px;
    display: flex;
}

.conbox1FT {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fttitleFT {
    font-size: 30px;
    font-weight: bold;
    color: #f9f9f9;
    margin-bottom: 30px;
}

.ftsubFT {
    font-size: 18px;
    font-weight: 500;
    color: #f9f9f9;
    line-height: 30px;
}

.lineFT {
    width: 550px;
    height: 1px;
    background-color: #f9f9f9;
    margin: 30px 0;
}

.phoneFT {
    font-size: 18px;
    font-weight: 500;
    color: #f9f9f9;
    margin-bottom: 30px;
}

.infoFT {
    font-size: 13px;
    color: #f9f9f9;
}

.conbox2FT {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.classformFT {
    width: 100%;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.classformFT>label {
    font-size: 18px;
    font-weight: 500;
    color: #f9f9f9;
}

.classformFT>input {
    background-color: transparent;
    padding: 10px 0;
    font-size: 15px;
    color: #f9f9f9;
    border-bottom: 1px solid #f9f9f9;
    margin-bottom: 30px;
}

.classformFT>select {
    background-color: transparent;
    padding: 10px 0;
    font-size: 15px;
    color: #777;
    border-bottom: 1px solid #f9f9f9;
}

.submitboxFT {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.sbinputboxFT {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sbinputboxFT>input {
    width: 15px;
    height: 15px;
}

.sbinputboxFT>label {
    font-size: 15px;
    color: #f9f9f9;
    font-weight: 300;
}

.submitbtnFT {
    width: 120px;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: bold;
    color: #2b2b2b;
    background-color: #f9f9f9;
    cursor: pointer;
    border-radius: 5px;
}

/* 1000px ~ 1299px */
@media (min-width: 1000px) and (max-width: 1299px) {
    .ftcontainerFT {
        width: 1000px;
        height: 100%;
        margin: 0 auto;
        padding-left: 20px;
        display: flex;
    }

    .lineFT {
        width: 85%;
        height: 1px;
        background-color: #f9f9f9;
        margin: 30px 0;
    }

    .sbinputboxFT>label {
        font-size: 10px;
    }
}

/* 800px ~ 1099px */
@media (min-width: 800px) and (max-width: 1099px) {
    .ftcontainerFT {
        width: 800px;
        height: 100%;
        margin: 0 auto;
        padding-left: 20px;
        display: flex;
    }

    .lineFT {
        width: 85%;
        height: 1px;
        background-color: #f9f9f9;
        margin: 30px 0;
    }
}

/* 375px ~ 799px */
@media (min-width: 375px) and (max-width: 799px) {
    .wrapFT {
        width: 100%;
        height: 595px;
        background: url('https://kjwon2025.github.io/gaonimg/img/footerimg.png') no-repeat;
        background-size: cover;
        position: relative;
    }

    .ftcontainerFT {
        width: 375px;
        margin: 0 auto;
        padding: 20px 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .conbox1FT {
        width: 310px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .fttitleFT {
        font-size: 25px;
        margin-bottom: 20px;
    }

    .ftsubFT {
        font-size: 14px;
        font-weight: 400;
        line-height: 25px;
        text-align: center;
    }

    .conbox2FT {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .classformFT {
        padding-left: 40px;
    }

    .classformFT>input {
        width: 100%;
        margin-bottom: 20px;
        font-size: 14px;
    }

    .lineFT {
        width: 93%;
        height: 1px;
        background-color: #f9f9f9;
        margin: 20px 0;
    }

    .phoneFT {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .infoFT {
        font-size: 12.5px;
    }

    .sbinputboxFT>label {
        font-size: 13px;
    }

    .submitbtnFT {
        width: 90px;
        font-size: 16px;
    }
}