.wrapFT2 {
    width: 100%;
    height: 400px;
    background: url('https://kjwon2025.github.io/gaonimg/img/footerimg.png') no-repeat;
    background-size: cover;
}

.containerFT2 {
    width: 1300px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.topbox {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    border-bottom: 1px solid #f9f9f9;
}

.bottombox {
    display: flex;
    height: 100px;
}

.topbox>img {
    width: 170px;
    height: 170px;
}

.spanboxFT2 {
    display: flex;
    gap: 8px;
    color: #f9f9f9;
    font-weight: 100;
    font-size: 16px;
    cursor: pointer;
}

.bottombox>span {
    font-size: 18px;
    font-weight: 100;
    color: #f9f9f9;
    margin-top: 20px;
}

.bottombox>span:nth-child(2) {
    margin-left: 365px;
    margin-right: 345px;
}

.snsboxFT2 {
    width: 190px;
    height: 40px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.snsboxFT2>div {
    background-color: #f9f9f9;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.snsboxFT2>div>svg {
    width: 30px;
    height: 30px;
    color: #2b2b2b;
}

@media (min-width: 1100px) and (max-width: 1400px) {
    .containerFT2 {
        width: 1000px;
    }

    .bottombox>span {
        font-size: 15px;
    }

    .bottombox>span:nth-child(2) {
        margin-left: 265px;
        margin-right: 253px;
    }

    .snsboxFT2 {
        width: 150px;
        height: 40px;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .snsboxFT2>div {
        width: 30px;
        height: 30px;
    }

    .snsboxFT2>div>svg {
        width: 20px;
        height: 20px;
    }
}

@media (min-width: 768px) and (max-width: 1099px) {
    .containerFT2 {
        width: 700px;
    }

    .topbox>img {
        width: 140px;
        height: 140px;
    }

    .spanboxFT2 {
        font-size: 14px;
    }

    .bottombox>span {
        font-size: 14px;
    }

    .bottombox>span:nth-child(2) {
        margin-left: 132px;
        margin-right: 108px;
    }

    .snsboxFT2 {
        width: 150px;
        height: 40px;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .snsboxFT2>div {
        width: 30px;
        height: 30px;
    }

    .snsboxFT2>div>svg {
        width: 20px;
        height: 20px;
    }
}

@media (min-width: 375px) and (max-width: 767px) {
    .wrapFT2 {
        width: 100%;
    }

    .containerFT2 {
        width: 100%;
    }

    .topbox>img {
        width: 120px;
        height: 120px;
    }

    .spanboxFT2 {
        font-size: 13px;
        gap: 5px;
    }

    .bottombox {
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .bottombox>span {
        font-size: 13px;
    }

    .bottombox>span:nth-child(2) {
        margin: 0;
    }

    .snsboxFT2 {
        width: 150px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin: 0;
        margin-bottom: 30px;
    }

    .snsboxFT2>div {
        width: 30px;
        height: 30px;
    }

    .snsboxFT2>div>svg {
        width: 20px;
        height: 20px;
    }
}