.hdWrap {
    width: 100%;
    min-width: 1300px;
    height: 130px;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.hdWrap>a>img {
    width: 110px;
    height: 30px;
    margin-left: 100px;
    cursor: pointer;
}

.hdMenucon {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.hdPersonal {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 50px;
    margin-right: 100px;
    gap: 50px;
}

.hdPersonal>a {
    color: #f9f9f9;
    text-decoration: none;
}

.hdPersonal>span {
    font-size: 15px;
    color: #f9f9f9;
    font-weight: 300;
    cursor: pointer;
}

.hdMenu>svg {
    width: 40px;
    height: 40px;
    color: #f9f9f9;
    cursor: pointer;
}

.hdMenu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100px;
    margin-right: 96px;
    gap: 50px;
}

.hdSpanbox {
    font-size: 22px;
    font-weight: bold;
    display: flex;
    gap: 50px;
}

.hdSpanbox>a {
    cursor: pointer;
    color: #f9f9f9;
    text-decoration: none;
}

/* Style for the search box */
.searchBox {
    position: absolute;
    top: 200px;
    left: 50%;
    z-index: 5000;
    transform: translateX(-107%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    border-radius: 5px;
    width: 250px;
}

.searchBox.show {
    opacity: 1;
    visibility: visible;
    transform: translateX(-107%) translateY(10px);
}

.searchBox input {
    width: 500px;
    padding: 20px 25px;
    border: 2px solid #bbb;
    border-radius: 50px;
    font-size: 18px;
}

.searchBox input:focus {
    border: 2px solid #f39535;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}