.wrapSP {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background-color: #2b2b2b;
    position: relative;
}

.wrapSP>img {
    position: absolute;
    top: 0;
    right: 0;
    width: 1100px;
    height: 953px;
    z-index: 1;
}

.containerSP {
    position: absolute;
    top: 0;
    left: 0;
    width: 900px;
    height: 953px;
    background-color: #143F70;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
}

.containerSP>img {
    width: 250px;
    height: 250px;
}

.gaonSP {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 70px;
    color: #f9f9f9;
    margin-top: 10px;
}

.lineSP {
    width: 100px;
    height: 1px;
    background-color: #f9f9f9;
    margin: 50px 0 70px 0;
}

.subtitleSP {
    font-size: 20px;
    color: #f9f9f9;
    font-weight: 300;
}

.nextbtnboxSP {
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translate(0, -50%);
    z-index: 2;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nextbtnboxSP>svg {
    width: 50px;
    height: 50px;
    color: #f9f9f9;
    cursor: pointer;
    animation: blinkCircle3 2.4s infinite ease-in-out;
}

.circle1SP,
.circle2SP,
.circle3SP {
    border-radius: 50%;
    border: 2px solid #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

@keyframes blinkCircle1 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 0;
    }
}

@keyframes blinkCircle2 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 0;
    }
}

@keyframes blinkCircle3 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.circle1SP {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #f9f9f9;
    position: absolute;
    animation: blinkCircle1 2.4s infinite ease-in-out;
    animation-delay: 0.6s;
}

.circle2SP {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid #f9f9f9;
    position: absolute;
    animation: blinkCircle2 2.4s infinite ease-in-out;
    animation-delay: 0.3s;
}

.circle3SP {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 2px solid #f9f9f9;
    position: absolute;
    animation: blinkCircle3 2.4s infinite ease-in-out;
    cursor: pointer;
}

@media (max-width: 768px) {
    .wrapSP {
        width: 100vw;
    }

    .wrapSP>img {
        width: 600px;
        height: 100%;
    }

    .containerSP {
        width: 350px;
    }

    .containerSP>img {
        width: 170px;
        height: 170px;
    }

    .gaonSP {
        font-size: 50px;
    }

    .lineSP {
        margin: 20px 0 70px 0;
    }

    .subtitleSP {
        margin-top: -40px;
    }

    .nextbtnboxSP {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0, -50%);
    }
}

@media (max-width: 480px) {
    .wrapSP {
        width: 100vw;
    }

    .wrapSP>img {
        display: nones;
    }

    .containerSP {
        width: 100vw;
        justify-content: start;
    }

    .containerSP>img {
        width: 170px;
        height: 170px;
        margin-top: 180px;
    }

    .gaonSP {
        font-size: 50px;
    }

    .lineSP {
        margin: 20px 0 70px 0;
    }

    .subtitleSP {
        margin-top: -40px;
    }

    .nextbtnboxSP {
        position: absolute;
        top: 620px;
        left: 90px;
    }
}

@media (max-width: 375px) {
    .nextbtnboxSP {
        left: 40px;
    }
}